@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* .article {
  /* display: flex; */
/* flex-direction: column; */

/* align-items: flex-start; */
/* padding: 0px 5px; */
/* } */

.container {
  /* width: 80%; */
  /* max-width: 1200px; */
  margin: 0 auto;
  /* padding: 1.5rem; */
  text-align: center;
  /* height: 100vh; */
}

/*  * NavBar Styles */

.home-navBar {
  width: 100%;
  padding: 16px 80px;
  /* max-width: 1440px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(23, 22, 22, 0.1);
}

.nav-left {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.appointment_btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.links > a {
  text-decoration: none;
  color: #000;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu img {
  width: 40px;
}

/* *Home Section */

.home-main {
  display: flex;
  flex-direction: row;
  /* flex grow 1 flex shrink 1 flex-basis0 */
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 80px;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 0px;
  gap: 46px;
}

.home-heading h1 {
  width: 100%;
  font-size: 62px;
  font-weight: 600;
  max-width: 750px;
  line-height: 74px;
}

.home-heading p {
  font-size: 16px;
  width: 100%;
  max-width: 600px;
  font-weight: 400;
  line-height: 27px;
}

.heading-btn {
  margin: 10px 0px 25px 25px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  box-sizing: border-box;
}

.home-image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* * Responsive NavBar and Home Section */

@media screen and (max-width: 768px) {
  .home-navBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .nav-right {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .home-main {
    flex-direction: column;
    padding-left: 20px;
  }

  .home-content {
    align-items: center;
  }

  .home-heading h1 {
    font-size: 42px;
    line-height: 50px;
  }

  .home-heading p {
    font-size: 14px;
    line-height: 22px;
  }

  .home-image {
    max-width: 100%;
  }
}

.section2 {
  background-color: #d0f4fd;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-heading {
  text-align: center;
}

.section-heading > h2 {
  margin: 20px 0px 5px 0px;
}

.section-heading > p {
  margin: 0px 0px 5px 0px;
}

.image-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.image-section > h2 {
  margin: 0px 0px 10px 0px;
}

/* .image-section > p {
  margin: 0px 0px 0px 0px;
} */

.image-section > img {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 25px 0px;
  width: 100%;
  max-width: 900px;
  cursor: pointer;
}

/* Carousel section */

.carousel-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.carousel-section {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
  display: none;
}

.carousel-section.active {
  display: flex;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description > h2 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}

.description-image > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.description-image2 > img {
  width: 520px;
  object-fit: cover;
}

.description-image3 > img {
  width: 580px;
  object-fit: cover;
}

.carousel-button {
  background-color: rgba(39, 107, 243, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* * Sectiion :- 4 */

.practise-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: flex-start;
  padding-top: 120px;
  padding-bottom: 120px;
  flex-direction: row;
}

.heading-main {
  /* width: 50%; */
  margin: 0px 20px;
  padding: 5px;
}

.heading {
  padding: 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.heading > h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
}

.heading > p {
  font-size: 1rem;
  line-height: 2rem;
  max-width: 320px;
}

.practise-wrapper {
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
  flex: 1;
  gap: 48px;
}

.practise-content {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 64px;
}

.practise-btn {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

/*  * Section 5 Form Group */

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 80px 80px;
  gap: 80px;
}

.form-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.form-heading > h2 {
  font-size: 50px;
  max-width: 600px;
  text-align: center;
  font-weight: 600;
}

.form-heading > p {
  text-align: center;
  max-width: 700px;
  font-size: 1rem;
  /* line-height: 27px; */
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.form-control > .button-types {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.button-types > button {
  background: none;
  border-radius: 50px;
  color: black;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-width: 1px;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
}

.input-group > input {
  width: 100%;
  color: #000;
  cursor: auto;
  outline: none;
  border-width: 0;
  border-color: #000;
  /* border-radius: 5px; */
  padding: 8px 16px;
  border-bottom-width: 1px;
}

.form-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
}

.form-button > p {
  text-align: left;
  max-width: 700px;
  font-size: 10px;
}

.formbackbtn {
  background-color: #007bff;
  border-radius: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.carousel2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 5rem;
  width: 100%;
  gap: 5rem;
  background-color: #d0f4fd;
}

.carousel-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.carousel-heading > h2 {
  max-width: 600px;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
}

.carousel-heading > p {
  font-size: 1rem;
  text-align: center;
  max-width: 700px;
}

.image-carousel {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  /* max-width: 1440px; */
  gap: 64px;
  position: relative;
  /* overflow: hidden; */
}
.card {
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 5px;
}
.image-container {
  /* min-width: 100%; */
  /* width: 850px; */
  display: flex;
  gap: 20px;
  flex-direction: row;
  overflow: hidden;
}
.card > img {
  width: 850px;
  /* overflow: hidden; */
  object-fit: cover;
  height: auto;
  max-width: 270px;
}

.prev-carousel-btn,
.next-carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  z-index: 2;
}

.prev-carousel-btn {
  left: -80px;
}
.next-carousel-btn {
  right: 10px;
}

/*  * Footer Section  */

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 100px 80px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  padding-right: 3rem;
}

.right-footer-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  gap: 16px;
}

.right-footer-heading > h2 {
  text-align: left;
  color: #fff;
  width: 165px;
}

.right-footer-heading > p {
  font-size: 14px;
  color: #fff;
}

.social-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  max-width: 400px;
  /* background-color: #fff; */
}

.social-icon > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
}

.legal-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 48px;
  width: 100%;
}

.legal-footer > span {
  color: #fff;
  font-size: 12px;
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 120px;
}

.footer-right > .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1;
  width: 100%;
}

.footer-right > .list > ul > li {
  list-style: none;
  gap: 12px;
}
.footer-right > .list > ul > li > a {
  text-decoration: none;
  color: white;
}

.footer-right .list ul li a:hover {
  /* text-decoration: underline;
  text-decoration-color: #fff; */

  text-decoration: underline #fff;
}

.footer-right > .list > .footer-right-header {
  color: #fff;
  font-weight: 600;
}

/* Responsive styles */

@media screen and (max-width: 1200px) {
  .practise-wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 992px) {
  .home-navBar {
    flex-direction: column;
  }

  .form-container {
    padding: 40px 20px;
  }

  .carousel2 {
    padding: 40px 20px;
  }

  .image-carousel {
    flex-direction: column;
  }

  .prev-carousel-btn,
  .next-carousel-btn {
    display: none;
  }
}

/* Media Query For Footer */

@media screen and (max-width: 768px) {
  .practise-container {
    flex-direction: column;
  }
  .footer {
    padding: 60px 20px;
  }

  .footer-left,
  .footer-right {
    width: 100%;
  }

  .footer-right {
    flex-direction: column;
    gap: 40px;
  }

  .legal-footer {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 990px) {
  .footer {
    padding: 64px 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .links {
    display: none;
  }
  .nav-right {
    display: none;
  }
  .home-navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .hamburger-menu {
    display: inline;
  }

  .image-section > img {
    max-width: 100%;
  }

  .carousel-section {
    flex-direction: column;
  }

  .description,
  .description-image,
  .description-image2,
  .description-image3 {
    width: 100%;
  }

  .description > h2 {
    font-size: 32px;
  }

  .form-heading > h2,
  .carousel-heading > h2 {
    font-size: 32px;
  }

  .button-types {
    flex-wrap: wrap;
  }
}
