* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  /* height: 70vh; */
  background-color: #f4e9e9;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow-y: auto;
}

.container_header {
  text-align: center;
  background-color: #f7a3a3;
}
.add {
  margin: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field {
  width: 60%;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #3e3e3e;
}

.todo-add-btn {
  width: 100px;
  height: 35px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6a99f1;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.todo-list-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* list-style: none; */
  padding: 1rem;
  /* background-color: #b6a1a1; */
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;

  /* border: 1px solid #9d8e8e; */
  border-radius: 0.5rem;
  width: 69%;
  /* width: 80%; */
}

.todo-query-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.todo-item.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.actions button {
  margin-left: 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1rem;
}

.edit {
  width: 100%;
  /* padding: 0; */
  padding: 0.25rem;
  /* margin-top: 0.5rem; */
  font-size: 1rem;
  border: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  /* resize: none; */
}

.completedTask {
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* list-style: none; */
  padding: 1rem;
  background-color: #eedfdf;
}
